<!--h1>{{ titulo }}</h1--> <!-- Si esta dentro de las llaves, ejecuta codigo javascript o llama a elementos de app.component.ts-->

<!-- - el evento se pone entre ()
     - entre "" puede ir codigo javascript
     - la expresion += no funciona, no hay que poner cosas complejas 
    -->
<!--button (click)=" numero = numero + 1;">+1</button--> 

<app-contador></app-contador>
<h3>******************************************</h3>
<app-contador></app-contador>
<h3>******************************************</h3>
<!--app-heroe></app-heroe--><!-- da error porque en el modulo de Heroes no envio el HeroeComponent-->
<h3>******************************************</h3>
<app-listado></app-listado>